In [2]:
import pandas as pd
import numpy as np

In [3]:
books = pd.read_csv("Books.csv")
ratings = pd.read_csv("Ratings.csv")
users = pd.read_csv("Users.csv")

C:\Users\madhu\AppData\Local\Temp\ipykernel_16028\3479565713.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
print(books.shape, users.shape, ratings.shape)

(271360, 8) (278858, 3) (1149780, 3)

In [8]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
books.duplicated().sum()

0

In [12]:
ratings.duplicated().sum()

0

In [13]:
users.duplicated().sum()

0

# popularity based recommendation system

In [14]:
ratings_with_name = ratings.merge(books, on='ISBN')

In [15]:
ratings_with_name.shape

(1031136, 10)

In [16]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [17]:
num_rating_df.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)

In [18]:
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [19]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating': 'avg_ratings'}, inplace=True)

In [20]:
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [21]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')

In [22]:
popular_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [23]:
popular_df = popular_df[popular_df['num_ratings']>250].sort_values('avg_ratings', ascending=False).head(50)

In [24]:
popular_df = popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_ratings']]

# collaborative Filtering based Recommendation System

In [26]:
X = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200

In [31]:
rated_users = X[X].index

In [38]:
filtered_ratings = ratings_with_name[ratings_with_name['User-ID'].isin(rated_users)]

In [41]:
 y = filtered_ratings.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [42]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [43]:
final_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [44]:
final_ratings.shape

(58586, 10)

In [45]:
final_ratings = final_ratings.drop_duplicates(['User-ID', 'Book-Title'])

In [46]:
final_ratings.shape

(56629, 10)

In [48]:
pivot_table = final_ratings.pivot_table(columns='User-ID', index='Book-Title', values='Book-Rating')

In [49]:
pivot_table.fillna(0, inplace=True)

In [50]:
pivot_table.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
similarity_score = cosine_similarity(pivot_table)

In [61]:
similarity_score[0]

array([1.        , 0.0841001 , 0.        , 0.        , 0.03968173,
       0.        , 0.08079637, 0.12100617, 0.        , 0.0689879 ,
       0.        , 0.06653784, 0.02049267, 0.07385189, 0.10156542,
       0.05627621, 0.09254055, 0.02517755, 0.        , 0.0996    ,
       0.        , 0.14095049, 0.07716826, 0.06048009, 0.07062482,
       0.        , 0.05441889, 0.11802482, 0.06198355, 0.11248734,
       0.        , 0.        , 0.        , 0.07135348, 0.04520214,
       0.        , 0.08245636, 0.        , 0.        , 0.06341217,
       0.11485427, 0.03644198, 0.08215009, 0.0723036 , 0.08084091,
       0.03186867, 0.05393691, 0.24720469, 0.1094262 , 0.04991492,
       0.08166472, 0.0663627 , 0.        , 0.04314426, 0.        ,
       0.        , 0.03921516, 0.        , 0.05975376, 0.03732759,
       0.19467532, 0.        , 0.        , 0.        , 0.04208223,
       0.10517028, 0.14374234, 0.        , 0.12062538, 0.05752568,
       0.        , 0.        , 0.        , 0.10246121, 0.        ,
       0.02808303, 0.        , 0.0511024 , 0.        , 0.08513147,
       0.02117358, 0.        , 0.26341144, 0.        , 0.09543683,
       0.05874623, 0.1191144 , 0.12041551, 0.09598103, 0.        ,
       0.04661351, 0.        , 0.13176478, 0.0322588 , 0.        ,
       0.01566954, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.11912491, 0.03310007, 0.03762582, 0.05151821,
       0.        , 0.02678657, 0.05257929, 0.        , 0.04605012,
       0.        , 0.        , 0.07298624, 0.        , 0.        ,
       0.        , 0.        , 0.0922622 , 0.14466064, 0.15255912,
       0.05594933, 0.06963749, 0.04202452, 0.06197612, 0.03709064,
       0.04120556, 0.        , 0.03269392, 0.04655242, 0.        ,
       0.        , 0.0713803 , 0.        , 0.        , 0.        ,
       0.        , 0.03016721, 0.07583888, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02847608, 0.        , 0.05150722, 0.        , 0.08045553,
       0.02723015, 0.09794626, 0.05612282, 0.12662088, 0.04840247,
       0.09331291, 0.        , 0.        , 0.06378523, 0.        ,
       0.04440681, 0.        , 0.        , 0.01369271, 0.05006375,
       0.        , 0.        , 0.        , 0.        , 0.13198963,
       0.04368083, 0.        , 0.        , 0.        , 0.14700773,
       0.        , 0.        , 0.        , 0.02804185, 0.        ,
       0.        , 0.21301248, 0.        , 0.08352132, 0.        ,
       0.        , 0.05310383, 0.07948874, 0.        , 0.        ,
       0.05894817, 0.        , 0.12845754, 0.        , 0.06501789,
       0.08828308, 0.0471301 , 0.11824972, 0.08694916, 0.        ,
       0.        , 0.        , 0.15272666, 0.03548835, 0.04706374,
       0.09597493, 0.12141907, 0.04139449, 0.04424234, 0.03420562,
       0.        , 0.07795332, 0.05515899, 0.04693824, 0.14192822,
       0.08280436, 0.11930631, 0.07004086, 0.07085209, 0.11330238,
       0.        , 0.        , 0.        , 0.        , 0.03610352,
       0.14072795, 0.02633402, 0.06414501, 0.10077795, 0.05325881,
       0.09472623, 0.06084932, 0.05283504, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04633546, 0.        , 0.1219376 , 0.07708914,
       0.05873102, 0.        , 0.        , 0.        , 0.02896632,
       0.06898771, 0.12713015, 0.        , 0.13625683, 0.06173931,
       0.09679664, 0.04847976, 0.        , 0.        , 0.03085525,
       0.        , 0.1000479 , 0.14187742, 0.        , 0.05418491,
       0.        , 0.        , 0.02972472, 0.        , 0.16812169,
       0.07636158, 0.06682169, 0.        , 0.        , 0.        ,
       0.07289096, 0.05482214, 0.04782404, 0.        , 0.        ,
       0.        , 0.08529495, 0.        , 0.        , 0.        ,
       0.        , 0.11193131, 0.        , 0.        , 0.04842628,
       0.        , 0.03924645, 0.        , 0.12440682, 0.        ,
       0.        , 0.05932033, 0.03521564, 0.        , 0.        ,
       0.05120068, 0.05645071, 0.13537951, 0.09810286, 0.        ,
       0.10843475, 0.04729234, 0.09627571, 0.        , 0.16946817,
       0.05337151, 0.        , 0.10604641, 0.        , 0.        ,
       0.        , 0.08802295, 0.03918949, 0.17610663, 0.        ,
       0.        , 0.        , 0.06318574, 0.08913389, 0.08126263,
       0.        , 0.10209434, 0.10095461, 0.02572102, 0.        ,
       0.05404839, 0.07273666, 0.        , 0.        , 0.15569765,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.22751706,
       0.        , 0.03837657, 0.02772564, 0.107206  , 0.04244268,
       0.04171996, 0.        , 0.        , 0.05187575, 0.17168013,
       0.05615582, 0.        , 0.14352159, 0.10729668, 0.        ,
       0.0470002 , 0.        , 0.11211273, 0.08282373, 0.0786645 ,
       0.0745585 , 0.14346041, 0.        , 0.        , 0.05903929,
       0.        , 0.05659546, 0.        , 0.08897948, 0.11770587,
       0.        , 0.04865284, 0.08980804, 0.        , 0.        ,
       0.        , 0.046755  , 0.        , 0.        , 0.        ,
       0.09964429, 0.0559623 , 0.13482963, 0.        , 0.05556083,
       0.        , 0.        , 0.0434272 , 0.        , 0.        ,
       0.        , 0.06779466, 0.14492046, 0.05895032, 0.        ,
       0.06967384, 0.        , 0.09966486, 0.        , 0.        ,
       0.        , 0.04938236, 0.15774   , 0.        , 0.1192197 ,
       0.11631684, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.05331797, 0.        , 0.05888633, 0.        ,
       0.11013275, 0.07994432, 0.05421342, 0.04560333, 0.        ,
       0.04263609, 0.04628197, 0.04601679, 0.        , 0.0662485 ,
       0.        , 0.09598284, 0.10058184, 0.        , 0.10727215,
       0.        , 0.        , 0.10166075, 0.10636577, 0.07575132,
       0.07428248, 0.06149794, 0.07899631, 0.03797659, 0.0473158 ,
       0.        , 0.        , 0.05089106, 0.        , 0.        ,
       0.04467102, 0.        , 0.        , 0.05174311, 0.        ,
       0.        , 0.        , 0.04173351, 0.05758682, 0.12475264,
       0.        , 0.07118302, 0.06253231, 0.        , 0.04677897,
       0.10945949, 0.03663604, 0.04298219, 0.        , 0.05986322,
       0.1062072 , 0.        , 0.05571641, 0.        , 0.13652392,
       0.04716868, 0.14228723, 0.        , 0.        , 0.05424803,
       0.        , 0.06575206, 0.12872672, 0.        , 0.07133193,
       0.05367945, 0.04997512, 0.04026986, 0.15839482, 0.11303421,
       0.04958373, 0.0629533 , 0.        , 0.        , 0.10540728,
       0.10386416, 0.0368681 , 0.        , 0.        , 0.        ,
       0.20093207, 0.03371571, 0.04205257, 0.02133216, 0.07155208,
       0.04173351, 0.05127508, 0.06116404, 0.        , 0.        ,
       0.        , 0.13187339, 0.10734346, 0.08365629, 0.08345197,
       0.09428341, 0.05101356, 0.06860718, 0.10979398, 0.        ,
       0.19337909, 0.        , 0.07590093, 0.        , 0.03548149,
       0.06625827, 0.        , 0.18740063, 0.05710799, 0.        ,
       0.04816906, 0.07305769, 0.        , 0.        , 0.02678915,
       0.04895138, 0.07658079, 0.15208869, 0.0554084 , 0.        ,
       0.08061605, 0.16697352, 0.06855435, 0.        , 0.16670015,
       0.26737808, 0.17352035, 0.07048953, 0.04581512, 0.06592493,
       0.1221434 , 0.21469785, 0.16820819, 0.        , 0.17888537,
       0.        , 0.03839659, 0.10520922, 0.13485964, 0.        ,
       0.07321988, 0.        , 0.10977404, 0.        , 0.05615582,
       0.07282917, 0.        , 0.05184282, 0.        , 0.12836492,
       0.08258957, 0.        , 0.        , 0.        , 0.09422213,
       0.04355451, 0.14033858, 0.        , 0.10135719, 0.03079279,
       0.04523438, 0.0457263 , 0.05932344, 0.12633126, 0.06066569,
       0.        , 0.04133684, 0.        , 0.14825432, 0.01878155,
       0.14215572, 0.14436951, 0.        , 0.05657199, 0.09908407,
       0.06488688, 0.05038164, 0.05367098, 0.17485357, 0.        ,
       0.        , 0.03375649, 0.02964034, 0.        , 0.09574949,
       0.07015352, 0.13109661, 0.        , 0.06027019, 0.        ,
       0.02942548, 0.10451956, 0.076967  , 0.        , 0.        ,
       0.05651736, 0.069321  , 0.04179575, 0.        , 0.        ,
       0.08261848, 0.        , 0.16425109, 0.03140153, 0.18310896,
       0.04162412, 0.        , 0.09088878, 0.08616271, 0.        ,
       0.08878096, 0.08972629, 0.06115798, 0.        , 0.23506028,
       0.        , 0.11546792, 0.04304559, 0.12195542, 0.        ,
       0.12314372, 0.04299916, 0.        , 0.14040764, 0.        ,
       0.09349793, 0.03831394, 0.166063  , 0.0700302 , 0.08720907,
       0.11409027, 0.02500066, 0.        , 0.        , 0.05877891,
       0.01313334, 0.        , 0.03690213, 0.04173351, 0.12658343,
       0.10042506, 0.        , 0.        , 0.        , 0.04986961,
       0.08755966, 0.14999146, 0.06831855, 0.        , 0.        ,
       0.07550245, 0.03825515, 0.08206133, 0.        , 0.12075255,
       0.03746339, 0.        , 0.05338308, 0.        , 0.        ,
       0.        , 0.        , 0.12083549, 0.0700843 , 0.08998078,
       0.        , 0.08008237, 0.        , 0.04968089, 0.06880737,
       0.07656121, 0.        , 0.05616699, 0.        , 0.        ,
       0.        , 0.03835045, 0.        , 0.        , 0.10301948,
       0.        , 0.05766424, 0.        , 0.1018633 , 0.04861807,
       0.0356652 ])

In [70]:
def recommend(book_name):
    index = np.where(pivot_table.index == book_name)[0][0]
    distances = similarity_score[index]
    similar_books = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    data = []
    for i in similar_books:
        item = []
        temp_df = books[books['Book-Title'] == pivot_table.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [71]:
recommend('Animal Farm')

[['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'],
 ['Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
  'Louise Rennison',
  'http://images.amazon.com/images/P/0064472272.01.MZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg'],
 ['Second Nature',
  'Alice Hoffman',
  'http://images.amazon.com/images/P/0399139087.01.MZZZZZZZ.jpg'],
 ['Lord of the Flies',
  'William Gerald Golding',
  'http://images.amazon.com/images/P/0399501487.01.MZZZZZZZ.jpg']]

In [67]:
import pickle
pickle.dump(popular_df, open('../popular.pkl', 'wb'))

In [73]:
pickle.dump(pivot_table, open('../pivot_table.pkl', 'wb'))
pickle.dump(books, open('../books.pkl', 'wb'))
pickle.dump(similarity_score, open('../similarity_score.pkl', 'wb'))